services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_development
    ports:
      - "5433:5432"
    networks:
      - ecommerce_network

  backend:
    build:
      context: ./backend-api
      dockerfile: Dockerfile.dev
    command: ./bin/rails server -b 0.0.0.0
    ports:
      - "3000:3000"
    volumes:
      - ./backend-api:/rails
      - /rails/node_modules
      - /rails/public/packs
      - /rails/tmp
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgresql://postgres:password@db:5432/ecommerce_development
    depends_on:
      - db
    stdin_open: true
    tty: true
    networks:
      - ecommerce_network

  frontend:
    build:
      context: ./web-app
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./web-app:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://localhost:3000
    depends_on:
      - backend
    networks:
      - ecommerce_network

networks:
  ecommerce_network:
    driver: bridge

volumes:
  postgres_data:
