.comman-backgroud {
    background: url('/src/assets/images/comman/background.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the section takes full height */
  }
  